resources/garbageRecycler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GarbageRecycler" targetNamespace="http://www.example.org/GarbageRecycler/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/GarbageRecycler/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GarbageRecycler/">
      <xsd:element name="registerUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="tns:User"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="tns:User"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            
            <xsd:element name="addRecyclingToUser">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="username" type="xsd:string"/>
            			<xsd:element name="userRecycling" type="tns:UserRecycling">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="addRecyclingToUserResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="userRecycling" type="tns:UserRecycling"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:element name="getAllRecyclingFromUser">
            	<xsd:complexType>
            		<xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                    </xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllRecyclingFromUserResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element maxOccurs="unbounded" minOccurs="0" name="list" type="tns:UserRecycling"/>
            			
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getAllRecycling">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="username" type="xsd:string"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllRecyclingResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="recycling" type="tns:Recycling"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>             
    		
            <xsd:complexType name="User">
            	<xsd:sequence>
            		<xsd:element name="firstName" type="xsd:string"/>
            		<xsd:element name="lastName" type="xsd:string"/>
            		<xsd:element name="username" type="xsd:string"/>
            		<xsd:element name="address" type="xsd:string"/>
            		<xsd:element name="mail" type="xsd:string"/>
            		<xsd:element name="id" type="xsd:long"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Recycling">
            	<xsd:sequence>
            		<xsd:element name="bottles" type="xsd:int"/>
            		<xsd:element name="tetrabriks" type="xsd:int"/>
            		<xsd:element name="glass" type="xsd:int"/>
            		<xsd:element name="paperboard" type="xsd:int"/>
            		<xsd:element name="cans" type="xsd:int"/>
            		<xsd:element name="tons" type="xsd:float"/>
            	</xsd:sequence>
            </xsd:complexType>
                        
            <xsd:complexType name="UserRecycling">
            	<xsd:sequence>
            		<xsd:element name="user" type="tns:User"/>
            		<xsd:element name="date" type="xsd:date"/>
            		<xsd:element name="id" type="xsd:long">
            		</xsd:element>
            		<xsd:element name="bottles" type="xsd:int"/>
            		<xsd:element name="tetrabriks" type="xsd:int"/>
            		<xsd:element name="glass" type="xsd:int"/>
            		<xsd:element name="paperboard" type="xsd:int"/>
            		<xsd:element name="cans" type="xsd:int"/>
            	</xsd:sequence>
            </xsd:complexType>
            
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRecyclingToUserRequest">
    <wsdl:part name="parameters" element="tns:addRecyclingToUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllRecyclingRequest">
    <wsdl:part name="parameters" element="tns:getAllRecycling">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllRecyclingFromUserRequest">
    <wsdl:part name="parameters" element="tns:getAllRecyclingFromUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerUserResponse">
    <wsdl:part name="parameters" element="tns:registerUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllRecyclingFromUserResponse">
    <wsdl:part name="parameters" element="tns:getAllRecyclingFromUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerUserRequest">
    <wsdl:part name="parameters" element="tns:registerUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllRecyclingResponse">
    <wsdl:part name="parameters" element="tns:getAllRecyclingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRecyclingToUserResponse">
    <wsdl:part name="parameters" element="tns:addRecyclingToUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="garbageRecycler">
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:registerUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:registerUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRecyclingToUser">
      <wsdl:input message="tns:addRecyclingToUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:addRecyclingToUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecyclingFromUser">
      <wsdl:input message="tns:getAllRecyclingFromUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllRecyclingFromUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecycling">
      <wsdl:input message="tns:getAllRecyclingRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllRecyclingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GarbageRecyclerSOAP" type="tns:garbageRecycler">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://www.example.org/GarbageRecycler/registerUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRecyclingToUser">
      <soap:operation soapAction="http://www.example.org/GarbageRecycler/addRecyclingToUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecyclingFromUser">
      <soap:operation soapAction="http://www.example.org/GarbageRecycler/getAllRecyclingFromUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecycling">
      <soap:operation soapAction="http://www.example.org/GarbageRecycler/getAllRecycling"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="garbageRecycler">
    <wsdl:port name="garbageRecyclerSOAP" binding="tns:GarbageRecyclerSOAP">
      <soap:address location="http://localhost:8080/garbage-recycler/services/garbageRecycler"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
